// colors
$color-1: #74617E;
$color-2: #B2A6D1;
$color-3: #989F8A;
$color-4: #f5f5f5;
$color-5: #F9FAF5;

// fomts
$font-1: 'Cookie', cursive;
$font-2: 'Open Sans', sans-serif;

$weight-font-regular: 400;
$weight-font-bold: 700;
